@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Yeseva+One&display=swap');

html {
font-family: 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(244, 114, 80, 1);
}

body {
  margin: 0;
}


header {
  padding: 2rem 13rem .5rem;
  background-color: rgba(255, 164, 142, 1);
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header div {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  Padding: 1rem;
  font-size: 1.8rem;
  font-weight: normal;
  max-width: 30rem;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1rem, 0;
  list-style-type: none;
}

.nav li {
  padding: 0 2rem;
}

.nav li a {
  font-size: 1.6rem;
  transition-property: all;
  transition-duration: .23s;
  color: rgba(255, 255, 255, 1);
  padding: .5rem 1.5rem;
}

.nav li a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(244, 114, 80, 1);
  border-radius: 8px;
}

.nav li {
  transition-property: all;
  transition-duration: .23s;
}

.nav li:hover{
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  margin: 3rem auto 8rem;
}

main div {
  display: flex;
  justify-content: center;
}


h2 {
  font-size: 5.5rem;
  margin: 0 auto;
  padding-left: 1rem;
  font-family: 'Yeseva One', cursive;
  border-left: solid;
  border-color: rgba(255, 255, 255, 1);
  border-width: medium;
}

.convert {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.convert div {
  display: flex;
  justify-content: center;
}

.convert-text {
  font-size: 1.2rem;
}

button, input{
  padding: 1rem 3rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: thick;
  border-radius: 8px;
  transition-property: all;
  transition-duration: .23s;
}

button, input:hover{
  transform: scale(1.1);
  color: rgba(244, 114, 80, 1);
  background-color: rgba(255, 255, 255, 1);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.footer p {
  padding: 0 2rem;
  color: rgba(255, 212, 201, 1);
}

.footer p a{
  text-decoration: underline;
  color: rgba(255, 212, 201, 1);
}

.footer p a:hover {
  color: rgba(255, 255, 255, 1);
}
