@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

html {
  font-family: 'Yeseva One', cursive;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(244, 114, 80, 1);
}

body {
  margin: 0;
}


header {
  padding: 1rem;
    background-color: rgba(255, 164, 142, 1);
}

header div {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  Padding: 2rem 1rem 1rem;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 1rem, 0;
  list-style-type: none;
}

.nav li {
  padding: 0 3.5rem;
}

.nav li a {
  font-size: 1.2rem;
  transition-property: all;
  transition-duration: .15s;
  color: rgba(255, 255, 255, 1);
}

.nav li a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(244, 114, 80, 1);
  padding: .5rem 4.5rem;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 2rem auto;
}

main div {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 4.5rem;
  margin: 1rem;
}

.convert {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.convert div {
  display: flex;
  justify-content: center;
}

.convert-text {
  font-size: 1.2rem;
}

button, input{
  padding: 1rem 3rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Yeseva One', cursive;
  font-size: 1.2rem;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: thick;
  border-radius: 8px;
  transition-property: all;
  transition-duration: .23s;
}

button, input:hover{
  transform: scale(1.1);
  color: rgba(244, 114, 80, 1);
  background-color: rgba(255, 255, 255, 1);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
}

.footer p {
  padding: 0 2rem;
  color: rgba(255, 212, 201, 1);
}

.footer p a{
  text-decoration: underline;
  color: rgba(255, 212, 201, 1);
}

.footer p a:hover {
  color: rgba(255, 255, 255, 1);
}
